<!-- <div *ngIf = "hasRecent()">
    {{getRecent}}
</div> -->
<body>
    <div style="font-family: Poppins;">.</div>
    <div class = "container">
        <div class = "wrapper">
            <div *ngIf = "!shouldLoad()">
                <div *ngIf = "isLoggedIn != false">
                    <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" [value]="selectedVal" (change)="onValChange(group.value)">
                        <mat-button-toggle value="artist"><i class="fas fa-user-alt"></i> Top Quarantine Artists</mat-button-toggle>
                        <mat-button-toggle value="track"><i class="fas fa-music"></i> Top Quarantine Tracks</mat-button-toggle>
                    </mat-button-toggle-group>
                    <div [hidden] = "selectedVal != 'track'">
                        <h3>These are the tracks getting you through isolation…</h3>
                        <h6>Share them on Instagram, nominate your friends to take the challenge and tag your favourite artists to show your support!</h6>
                        <canvas #canvas>.</canvas>     
                        <button (click) = "saveCanvasAs(canvas, 'export.png')" class = "login-button">Download!</button>
                    </div>
                    <div [hidden] = "selectedVal == 'track'">
                        <h3>These are the artists getting you through isolation…</h3>
                        <h6>Share them on Instagram, nominate your friends to take the challenge and tag your favourite artists to show your support!</h6>
                        <canvas #artistCanvas>.</canvas>     
                        <button (click) = "saveCanvasAs(artistCanvas, 'export.png')" class = "login-button">Download!</button>
                    </div>
                </div>
                <div *ngIf = "isLoggedIn != true">
                    <h3>Oops! You aren't logged into Spotify, login below to see your top quarantine stats.</h3>
                    <button (click) = "login()" class = "login-button"> <i class="fab fa-spotify"></i> Login with Spotify</button>
                </div>
            </div>
            <div class="spinner-border" role="status" *ngIf = "shouldLoad()">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</body>